@use "sass:color";

body {
	background: #fff;
	color: #3b4252;
	margin: 20px;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

table {
	margin-bottom: 10px;
}

.game {
	display: flex;
	max-width: 1200px;
	margin: auto;

	& > div {
		border: 1px solid;
		padding: 2em;
		width: 100%;
	}
}

.notice {
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	padding: 10px;

	&.error {
		border-color: #bf616a;
		background-color: color.adjust(#bf616a, $lightness: 10%);
		color: #eceff4;
	}

	&.info {
		border-color: #5e81ac;
		background-color: color.adjust(#5e81ac, $lightness: 10%);
		color: #eceff4;
	}

	&.success {
		border-color: #a3be8c;
		background-color: color.adjust(#a3be8c, $lightness: 10%);
		color: #4c566a;
	}
}

.board {
	display: inline-block;
	flex-direction: column;
	// border: 1px solid #000;
	background-color: #3b4252;

	.board-top {
		.lane {
			justify-content: flex-start;
			&:nth-child(1),
			&:nth-child(3),
			&:nth-child(5),
			&:nth-child(8),
			&:nth-child(10),
			&:nth-child(12) {
				&:before {
					border-top: 230px solid color.adjust(#bf616a, $lightness: 10%);
					border-right: 25px solid transparent;
					border-left: 25px solid transparent;
				}
			}
			&:nth-child(2),
			&:nth-child(4),
			&:nth-child(6),
			&:nth-child(9),
			&:nth-child(11),
			&:nth-child(13) {
				&:before {
					border-top: 230px solid color.adjust(#5e81ac, $lightness: 10%);
					border-right: 25px solid transparent;
					border-left: 25px solid transparent;
				}
			}
			&:nth-child(7),
			&:nth-child(14) {
				background-color: #4c566a;
				flex-wrap: wrap;
				&:before {
					border: none;
				}
			}
			&:nth-child(7) {
				justify-content: flex-end;
				overflow: hidden;
			}
			&:nth-child(14) {
				width: 50px;
				align-content: flex-start;
			}
		}
	}
	.board-bottom {
		.lane {
			justify-content: flex-end;
			&:nth-child(1),
			&:nth-child(3),
			&:nth-child(5),
			&:nth-child(8),
			&:nth-child(10),
			&:nth-child(12) {
				&:before {
					border-bottom: 230px solid color.adjust(#5e81ac, $lightness: 10%);
					border-top: 50px solid transparent;
					border-right: 25px solid transparent;
					border-left: 25px solid transparent;
				}
			}
			&:nth-child(2),
			&:nth-child(4),
			&:nth-child(6),
			&:nth-child(9),
			&:nth-child(11),
			&:nth-child(13) {
				&:before {
					border-bottom: 230px solid color.adjust(#bf616a, $lightness: 10%);
					border-top: 50px solid transparent;
					border-right: 25px solid transparent;
					border-left: 25px solid transparent;
				}
			}
			&:nth-child(7),
			&:nth-child(14) {
				background-color: #4c566a;
				flex-wrap: wrap;
				&:before {
					border: none;
				}
			}
			&:nth-child(7) {
				justify-content: flex-start;
				overflow: hidden;
			}
			&:nth-child(14) {
				width: 50px;
				// align-content: flex-end;
			}
		}
	}
	.board-top,
	.board-bottom {
		display: flex;
		.lane {
			position: relative;
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			height: 280px;
			width: 50px;

			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 0;
				height: 0;
			}

			.checker {
				z-index: 2;
				box-sizing: border-box;
				border: 1px solid #000;
				border-radius: 50%;
				margin: 2px;
				height: 46px;
				width: 46px;
				text-align: center;
				line-height: 46px;
				cursor: pointer;
				color: #eceff4;
				font-weight: bold;
				font-size: 18px;
				&[data-player="PLAYER_ONE"] {
					background-color: #5e81ac;
				}
				&[data-player="PLAYER_TWO"] {
					background-color: #bf616a;
				}
				.checker-count {
					display: block;
					line-height: 46px;
				}
			}

			&.off {
				.checker {
					border-radius: 2px;
					height: 11px;
				}
			}

			&.bar {
				background-color: #d8dee9;
				border: 2px solid #4c566a;
				border-radius: 4px;
				margin: 0 10px;

				.checker {
					margin: 5px auto;
					width: 40px;
					height: 40px;
				}

				.bar-label {
					background-color: #4c566a;
					color: white;
					text-align: center;
					padding: 4px;
					font-size: 12px;
					font-weight: bold;
					border-radius: 2px 2px 0 0;
				}
			}
		}
	}
}
